<%- include('partials/header'); -%>
<div class="hero"></div>
<div class="container">
    <p>Ante la pandemia del nuevo coronavirus COVID-19 que está afrontando el mundo, el gobierno de El Salvador junto con el ministerio de salud ha implementado una serie de medidas que van desde la desinfección de las zonas escolares hasta la implementación de medidas de distanciamiento social a través de cuarentenas domiciliares para minimizar el contagio de esta pandemia, lo que ha afectado a varios sectores importantes del país, como es el caso del sector estudiantil.</p>
    <hr>
    <p>Ante esta situación el Ministerio de Salud junto con el Ministerio de Educación han sugerido la implementación del uso de aulas virtuales, videos conferencias para la continuar con los procesos de formación de los estudiantes los estudiantes. Esta medida ha implicado nuevos retos a las instituciones educativas públicas y privadas quienes deben de instruir a los alumnos y docentes en el manejo de aulas virtuales, el uso de plataformas de videos conferencias y el uso de simuladores virtuales para facilitar el cumplimiento de los objetivos generales y específicos que requieren las materias que se imparten.</p>
    <hr>
    <p>Sin embargo, estas medidas no logran cubrir todas las áreas de las materias, especialmente en las que se imparten en las instituciones técnicos o carreras de Ingeniería en las universitarias, las cuales requieren la asistencia presencial tanto del docente como del estudiante, ya que requieren la instalación y el manejo de ciertos equipos y dispositivos delicados, las cuales poseen costos bastantes altos, que tanto el estudiante como la institución educativa no pueden cubrir.</p>
    <hr>
    <p>Ante estos retos y dificultades se requiere nuevas formas de enseñanzas los cuales permitan mantener las normas de distanciamiento social para evitar el contagio de la enfermedad y acoplar las herramientas que permitan cumplir con las competencias a desarrollar por los estudiantes.</p>
    <ul>
        <p>Objetivos:</p>
        <li>Desarrollar hardware y software para la interacción de entradas y salidas desde la computadora del usuario hacia las plantas o circuitos electrónicos de la universidad.</li>
        <li>Modificar las guías de laboratorio existentes que incluyan las nuevas implementaciones para diferentes cátedras del área técnica según sus aplicaciones prácticas, tanto de electrónica y biomédica.</li>
        <li>Investigar diferentes tecnologías de hardware y software que nos permitan optimizar las prácticas de manera remota.</li>
        <li>Comprobar diferentes técnicas que nos permitan optimizar las prácticas de laboratorio de manera remota.</li>
    </ul>
</div>


<%- include('partials/footer'); -%>