<%- include('partials/header'); -%>
<div class="hero"></div>
<div class="dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I1" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")'  >I1</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I2" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I2</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I3" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I3</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I4" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I4</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I5" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I5</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I6" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I6</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I7" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I7</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I8" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I8</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I9" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I9</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I10" class="btn btn-dash btn-dark btn-block" onclick='OnOff("ON", "ardu/I02")' >I10</button></div>
    </div>
</div>
<!-- <script>MQTTconnect();</script> -->
<%- include('partials/footer'); -%>

<!-- onclick='OnOff("ON", "ardu/I01")
onclick='OnOff("ON", "ardu/I02")
onclick='OnOff("ON", "ardu/I03")
onclick='OnOff("ON", "ardu/I04")
onclick='OnOff("ON", "ardu/I05")
onclick='OnOff("ON", "ardu/I06")
onclick='OnOff("ON", "ardu/I07")
onclick='OnOff("ON", "ardu/I08")
onclick='OnOff("ON", "ardu/I09")
onclick='OnOff("ON", "ardu/I010" -->