<%- include('partials/header'); -%>
<div class="hero"></div>
<div class="dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I1" class="btn btn-dash btn-dark btn-block"><a href="/button/I01">I1</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I2" class="btn btn-dash btn-dark btn-block"><a href="/button/I02">I2</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I3" class="btn btn-dash btn-dark btn-block"><a href="/button/I03">I3</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I4" class="btn btn-dash btn-dark btn-block"><a href="/button/I04">I4</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I5" class="btn btn-dash btn-dark btn-block"><a href="/button/I05">I5</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I6" class="btn btn-dash btn-dark btn-block"><a href="/button/I06">I6</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I7" class="btn btn-dash btn-dark btn-block"><a href="/button/I07">I7</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I8" class="btn btn-dash btn-dark btn-block"><a href="/button/I08">I8</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I9" class="btn btn-dash btn-dark btn-block"><a href="/button/I09">I9</a></button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button id="I10" class="btn btn-dash btn-dark btn-block"><a href="/button/I10">I10</a></button></div>
    </div>
</div>
<!-- <script>MQTTconnect();</script> -->
<%- include('partials/footer'); -%>

<!-- onclick='OnOff("ON", "ardu/I01")
onclick='OnOff("ON", "ardu/I02")
onclick='OnOff("ON", "ardu/I03")
onclick='OnOff("ON", "ardu/I04")
onclick='OnOff("ON", "ardu/I05")
onclick='OnOff("ON", "ardu/I06")
onclick='OnOff("ON", "ardu/I07")
onclick='OnOff("ON", "ardu/I08")
onclick='OnOff("ON", "ardu/I09")
onclick='OnOff("ON", "ardu/I010" -->