<%- include('partials/header'); -%>
<div class="hero"></div>
<div class="dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I1</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I2</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I3</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I4</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I5</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I6</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I7</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I8</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I9</button></div>
        <div class="col-lg-3 col-md-4 col-sm-6"><button class="btn btn-dash btn-dark btn-block" >I10</button></div>
    </div>
</div>
<!-- <script>MQTTconnect();</script> -->
<%- include('partials/footer'); -%>

<!-- onclick='OnOff("ON", "ardu/I01")
onclick='OnOff("ON", "ardu/I02")
onclick='OnOff("ON", "ardu/I03")
onclick='OnOff("ON", "ardu/I04")
onclick='OnOff("ON", "ardu/I05")
onclick='OnOff("ON", "ardu/I06")
onclick='OnOff("ON", "ardu/I07")
onclick='OnOff("ON", "ardu/I08")
onclick='OnOff("ON", "ardu/I09")
onclick='OnOff("ON", "ardu/I010" -->