<%- include('partials/header'); -%>
<div class="hero">
</div>
  <form class="form-signin" action="/login"  method="POST">
    <i class="fas fa-key fa-5x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>


  <%- include('partials/footer'); -%>